 #logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pre1 {
    background-color: rgba(141, 92, 156, 0.425);
    margin-top: 20px;
}
#home {
    
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#about {
    
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;

}
#events {
    
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#join {
    
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#box1 {
    text-align: middle;
    width: 300px;
    height: 200px;
    border: px solid black;
    margin-top: 50px;
    background-color: rgba(180, 22, 22, 0.425);
    font-weight: bold;
    flex: auto;
}
#box2 {
    text-align: middle;
    width: 300px;
    height: 200px;
    border: px solid black;
    margin-top: 50px;
    background-color: rgba(180, 22, 22, 0.425);
    font-weight: bold;
    flex: auto;
}
#box3 {
    text-align: middle;
    width: 300px;
    height: 200px;
    border: px solid black;
    margin-top: 50px;
    background-color: rgba(180, 22, 22, 0.425);
    font-weight: bold;
    flex: auto;
}

